.dot{
  height: 200px;
  width: 200px;
  background-color: rgba(0, 0, 0, .6);
  border: 15px solid green ;
  border-radius: 50%;
  display: inline-block;
  margin-left: 12%;
  color: red;
  text-align: center;
  line-height: 180px;
  font-size: 48px;
}

.filmDetail {
  padding: 30px 20px;
  border-radius: 15px;
  background: rgba(15, 16, 16, 0.6)
}