.styleNav{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #000000;
}
.slick-dots-bottom {
    margin: 0!important;
    padding: 0!important;
}

.slick-prev:before, .slick-next:before {
    font-size: 3rem!important;
}