.styleCard {
    transition: all 0.3s;
    border-radius: 5px;
    border: 1px solid red;
  
}

.styleCard:hover {
    transform: translateY(-10px);
}
.ant-card-meta-title {
 font-weight: 600;
 font-size: 20px!important;
}
